@model IEnumerable<SysSonMarket.Models.Produto>

@{
    ViewData["Title"] = "ListarProduto";
}


<!-- BEGIN CONTENT -->
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEADER-->
        <!-- BEGIN PAGE BAR -->
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="#">Home</a>
                    <i class="fa fa-circle"></i>
                </li>
                <li>
                    <span>Listagem de Produto</span>
                </li>
            </ul>

        </div>
        <!-- END PAGE BAR -->
        <!-- BEGIN PAGE TITLE-->
        <h1 class="page-title"></h1>

        <!-- Tela de cadastro genérico-->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN EXAMPLE TABLE PORTLET-->
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-dark">
                            <i class="icon-settings font-dark"></i>
                            <span class="caption-subject bold uppercase">Lista de Produto</span>
                        </div>
                        <div class="tools"> </div>
                    </div>
                    <div class="portlet-body">

                        <table class="table table-striped table-bordered table-hover" id="sample_1">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Nome</th>
                                    <th>Categoria</th>
                                    <th>Fornecedor</th>
                                    <th>Preço de Custo</th>
                                    <th>Preço de Venda</th>
                                    <th>Medição</th>
                                    <th>Ações</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Id</th>
                                    <th>Nome</th>
                                    <th>Categoria</th>
                                    <th>Fornecedor</th>
                                    <th>Preço de Custo</th>
                                    <th>Preço de Venda</th>
                                    <th>Medição</th>
                                    <th>Ações</th>
                                </tr>
                            </tfoot>
                            <tbody>

                                @foreach (var produto in Model)
                                {
                                <tr>
                                    <td>@produto.Id</td>
                                    <td>@produto.Nome</td>
                                    <td>@produto.Categoria.Nome</td>
                                    <td>@produto.Fornecedor.Nome</td>
                                    <td>(R$)@produto.PrecoDeCusto</td>
                                    <td>(R$)@produto.PrecoDeVenda</td>
                                    <td>
                                        @if (@produto.Medicao == 0)
                                        {<span>Litro</span>}
                                        else if (@produto.Medicao == 1)
                                        { <span>Kilo</span> }
                                        else
                                        {<span>Unidade</span>}

                                    </td>
                                    <td>
                                        <a class="btn btn-primary" href="/Gestao/EditarProduto/@produto.Id">Editar</a>

                                        <form asp-controller="Produto" asp-action="Deletar" style="display:inline;">
                                            <input type="hidden" name="id" id="id" value="@produto.Id" />
                                            <button class="btn btn-danger">Deletar</button>
                                        </form>
                                    </td>

                                </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
            </div>
        </div>
        <!-- fim Tela de cadastro genérico-->


    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->
